
.cow_menu_user_bar{
  margin: 0;
  line-height: 26px;
  font-size: 14px;
  background-color: @default_color;
  border: 1px solid darken(@default_color,10%);

  ul,ol{
    margin: 0;
  }

  a{
    color: @menu_default_color;
    text-decoration: none;
  }
  a:hover{
    color: @menu_active_color;
    text-decoration: underline;
  }
}

