//
// define gird columns number and the gutter
//
@grid_columns: 24;
@gutter: 15px;

//
// define common color
//
@default_border_color:#e5e5e5;
@default_color:#f7f7f7;
@primary_color:#2db7f5;

//
// define common padding and border radius size.
//
@padding_base_vertical:6px;
@padding_base_horizontal:15px;